/* Fonts url */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Montserrat:wght@200;300&display=swap");
/* Font awsome */
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  border: none;
  outline: none;
  max-width: 1500px;
}
body {
  color: #000;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
}
a {
  text-decoration: none;
}
a:hover {
  color: inherit;
}
/* Header */
header {
  width: 100%;
}
.header-container {
  margin: 10px 15px 0 15px;
}
/* Logo */
.header-logo-section svg {
  width: 93px;
  height: 25px;
  margin-top: 10px;
}
/* Search input */
.header-search-section {
  padding: 10px;
  width: 600px;
  height: 44px;
  margin-left: 15px;
  border-radius: 8px;
  background-color: rgba(213, 215, 216, 0.294);
}
.bi-search {
  color: rgb(165, 165, 165);
  position: absolute;
  top: 20px;
}
.header-search {
  background: none;
  font-size: 1.2rem;
  font-weight: 300;
  margin: 0 0 11px 25px;
  padding-bottom: 4px;
  position: absolute;
  top: 20px;
}
/* Shopping link */
.icon-sing-con {
  width: 383px;
  margin-right: 20px;
}
.shopping-icon i {
  margin-right: 20px;
  font-size: 1.5rem;
  color: #4a5f73;
}
/* Sign in button */
.signin-button button {
  background: none;
  padding: 5px 8px 6px 8px;
  border: 0.1px solid rgb(165, 165, 165);
  border-radius: 8px;
}
.signin-button a {
  text-decoration: none;
  color: #4a5f73;
  font-weight: 400;
  font-size: 1rem;
}
.signin-button a i {
  padding-right: 6px;
  font-size: 1.1rem;
  font-weight: 400;
}
.signin-button::before {
  content: "";
  background: #4a5f73;
  width: 100%;
  height: 10px;
  border-right: 0.3px solid rgba(229, 229, 230, 0.294);
  margin-right: 12px;
  margin: 20px;
}
/* Navigation Links */

.nav-item {
  margin: 10px 8px 0 8px;
}
.nav-link-head {
  font-size: 1rem;
  color: #000000a8;
}
/* Category link */
.category {
  color: #000;
  font-size: 1.2rem;
}
.category::after {
  content: "";
  background: #4a5f73;
  width: 100%;
  height: 10px;
  border-right: 0.3px solid rgba(229, 229, 230, 0.294);
  margin-left: 7px;
}

/* Category link icon */
.fa-bars {
  margin-right: 5px;
}

/* Category drop down */

.digital-product {
  color: rgb(230, 68, 68) !important;
  font-size: 0.8rem;
}
.dd-link {
  font-size: 0.9rem;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content li {
  padding: 10px;
}
.dropdown-content li:hover {
  color: rgb(230, 68, 68);
  background-color: #e6e6e6;
}
.dropdown:hover .dropdown-content {
  display: block;
}
/* Category dropdown icons */
.font-awesome-icons::before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  color: #000000a8;
  margin-right: 5px;
}

.laptop::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f109";
  color: rgb(230, 68, 68);
}
.car::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f1b9";
}
.clothes::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f553";
}
.toys::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f77d";
}
.supermarket::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f291";
}
.beauty::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f21e";
}
.kitchen::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f4b8";
}
.book::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f02d";
}
.travel::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f5c1";
}

/* Header Navigation */
.nav-link-head i:not(.fa-bars, .fa-diamond, .fa-p, .fa-location-dot) {
  color: rgba(110, 110, 110, 0.548);
  margin-right: 5px;
}
.last-link {
  font-weight: 300;
}
/* Header navigation icons */
.fa-diamond {
  color: rgb(137, 82, 200);
  margin-right: 5px;
}
.fa-p {
  color: rgb(42, 117, 216);
  margin-right: 5px;
}
/* Header location */
.location {
  margin-left: 70px;
}
.fa-location-dot {
  margin-left: 5px;
  position: relative;
}
.badge {
  padding: 4px;
}
/* Media queries */

/* Main */

/* Shop now banner fixed */

.shop-now-banner {
  background-image: url(https://cdn.pixabay.com/photo/2016/11/29/12/34/christmas-1869533__340.png);
  background-position: center;
  width: 400px;
  height: 170px;
  border-radius: 30px;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0 15px 15px 0;
}
/* On sale and slider */

.onsale-slider-container {
  background-color: #f9f9f9;
  width: 100%;
  padding: 15px;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, 437px);
  grid-template-rows: repeat(2, 1fr);
  gap: 15px;
  justify-content: center;
}
.onsale-section {
  border-radius: 30px;
}
.onsale1,
.onsale2 {
  height: 218px;
}
.onsale2 {
  grid-column: 1/ 2;
  grid-row: 2/ 3;
}
.slider {
  grid-column: span 2;
  grid-row: span 2;
}
